<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Chats</title>
    <meta name="description" content="Chat application" />

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png">

    <!-- Toggles CSS -->
    <link href="vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
</head>

<body>


	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

        <%- include('topbar'); -%>

        <%- include('sidebar'); -%>

        <!-- Main Content -->
        <div class="hk-pg-wrapper pb-0">
            <!-- Container -->
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="chatapp-wrap">
                            <div class="chatapp-left">
                                <header>
                                    <a href="javascript:void(0)" class="chat-more">
                                        <span class="feather-icon"><i data-feather="more-vertical"></i></span>
                                    </a>
                                    <span class="">Chats</span>
                                    <a href="javascript:void(0)" class="chat-compose">
                                        <span class="feather-icon"><i data-feather="edit"></i></span>
                                    </a>
                                </header>
                                <form role="search" class="chat-search">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="feather-icon"><i data-feather="search"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                                <div class="chatapp-users-list">
                                    <div class="nicescroll-bar">
                                        <a href="javascript:void(0);" class="media">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar1.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-warning badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Clay Masse</div>
                                                    <div class="user-last-chat">No one saves us but ourselves.</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">5 min</div>
                                                    <div class="badge badge-success badge-pill">15</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat active-user">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-success badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Evie Ono</div>
                                                    <div class="user-last-chat">Unity is strength 😀</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">4:56 PM</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar3.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-warning badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Madalyn Rascon</div>
                                                    <div class="user-last-chat">Respect yourself if you would have others respect you.</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">5:00 PM</div>
                                                    <div class="badge badge-success badge-pill">3</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar4.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-danger badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Mitsuko Heid</div>
                                                    <div class="user-last-chat">OK that sounds perfect 🤞</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">10:14 AM</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar5.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-success badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Ezequiel Merideth</div>
                                                    <div class="user-last-chat">staff was calling me to make sure I was there</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">9:15 AM</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar6.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-success badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Jonnie Metoyer</div>
                                                    <div class="user-last-chat">There is so much caos happening</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">10:24 AM</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar7.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-warning badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Angelic Lauver</div>
                                                    <div class="user-last-chat">Concentrate on studdies will be the text</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">12.56 PM</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar8.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-danger badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Prischila Shy</div>
                                                    <div class="user-last-chat">Good morning! I am here to talk to you about the meeting</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">Yesterday</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar9.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-danger badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Lynda Stack</div>
                                                    <div class="user-last-chat">How much should we contribute?</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">Friday</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                        <a href="javascript:void(0);" class="media read-chat">
                                            <div class="media-img-wrap">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar10.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <span class="badge badge-success badge-indicator"></span>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">Aash Bill</div>
                                                    <div class="user-last-chat">I have to revise the task</div>
                                                </div>
                                                <div>
                                                    <div class="last-chat-time block">Thursday</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="chatapp-right">
                                <header>
                                    <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                        <span class="feather-icon"><i data-feather="chevron-left"></i></span>
                                    </a>
                                    <div class="media">
                                        <div class="media-img-wrap">
                                            <div class="avatar">
                                                <img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
                                            </div>
                                            <span class="badge badge-success badge-indicator"></span>
                                        </div>
                                        <div class="media-body">
                                            <div class="user-name">Evie Ono</div>
                                            <div class="user-status">online</div>
                                        </div>
                                    </div>
                                    <div class="chat-options-wrap">
                                        <a href="javascript:void(0)" class=""><span class="feather-icon"><i data-feather="video"></i></span></a>
                                        <a href="javascript:void(0)" class=""><span class="feather-icon"><i data-feather="phone"></i></span></a>
                                    </div>
                                </header>
                                <div class="chat-body">
                                    <div class="nicescroll-bar">
                                        <ul class="list-unstyled">
                                            <li class="media received">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Cool, lets talk about it tomorrow</p>
                                                            <span class="chat-time">10:55 AM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Images for new marketing pages have been sent</p>
                                                            <span class="chat-time">10:56 AM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media received">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Hey Ben, just a reminder that you are coming for the meeting today in the conference. We are proposing a change in the client briefing.</p>
                                                            <span class="chat-time">2:35 PM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media sent">
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Sure, on my way to office. Please give me quick update.</p>
                                                            <span class="chat-time">11:45 AM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle left"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="day-sep">today</li>
                                            <li class="media received">
                                                <div class="avatar">
                                                    <img src="dist/img/avatar2.jpg" alt="user" class="avatar-img rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>
                                                                Me: Can you please grow?
                                                                <br/> Hair: Nah..!
                                                                <br/> Muscle: Nope..!!
                                                                <br/> Salary: Don't even dream..!!!
                                                                <br/> Stomach: Anything for you dear..</p>
                                                            <span class="chat-time">7:24 PM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media sent">
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Haha, this joke is hilarious. Is it what your heart feel about the salary?</p>
                                                            <span class="chat-time">7:57 PM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle left"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>Anyways, I am working on something that you would like to know. This project is based on angular js and you are the keeda in it. I need you help in it.</p>
                                                            <span class="chat-time">7:59 PM</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle left"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <footer>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="btn-file  btn btn-light">
                                                <div class="btn-icon-wrap">
                                                    <span class="feather-icon"><i data-feather="paperclip"></i></span>
                                                    <input type="file">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" id="input_msg_send_chatapp" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
                                        <div class="input-group-append">
                                            <button type="button" class="btn  btn-light  dropdown-toggle no-caret" data-toggle="dropdown"><span class="feather-icon"><i data-feather="at-sign"></i></span></button>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

   

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Toggles JavaScript -->
    <script src="vendors/jquery-toggles/toggles.min.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="dist/js/feather.min.js"></script>

    <!-- Toggles JavaScript -->
    <script src="vendors/jquery-toggles/toggles.min.js"></script>
    <script src="dist/js/toggle-data.js"></script>

    <!-- Init JavaScript -->
    <script src="dist/js/init.js"></script>

</body>

</html>
