<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Dashboard</title>
    <meta
      name="description"
      content="A responsive bootstrap 4 admin dashboard template by hencework"
    />

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png">

    <!-- vector map CSS -->

    <link
      href="/vendors/vectormap/jquery-jvectormap-2.0.3.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/vendors/apexcharts/dist/apexcharts.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Toggles CSS -->
    <link
      href="/vendors/jquery-toggles/css/toggles.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/vendors/jquery-toggles/css/themes/toggles-light.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Toastr CSS -->
    <link
      href="/vendors/jquery-toast-plugin/dist/jquery.toast.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
  </head>

  <body>
    <Preloader>
      <div class="preloader-it">
        <div class="loader-pendulums"></div>
      </div>
    </Preloader>

    <!-- HK Wrapper -->
    <div class="hk-wrapper hk-vertical-nav">
      <%- include('topbar'); -%> <%- include('sidebar'); -%>

      <!-- Main Content -->
      <div class="hk-pg-wrapper">
        <!-- Container -->
        <div class="container mt-xl-50 mt-sm-30 mt-15">
          <!-- Title -->
          <div class="hk-pg-header align-items-top mb-md-60">
            <div class="w-parent">
              <h2 class="welcome">Welcome to WHEALTHWAY!</h2>
            </div>
          </div>
          <!-- /Title -->

          <!-- Row -->
          <div class="row">
            <div class="col-xl-12">
              <div class="hk-row">
                <div class="col-lg-12">
                  <div class="hk-row mb-15">
                    <div
                      class="col-sm-12 col-md-4 d-flex justify-content-center"
                    >
                      <div
                        class="card card-sm p-4"
                        style="
                          background: #fff;
                          box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
                          border-radius: 20px;
                          border-color: #d8ffe9;
                          width: 85%;
                        "
                      >
                        <div class="card-body">
                          <div class="d-flex justify-content-center mb-5">
                            <div>
                              <div style="text-align: center" class="my-3">
                                <img
                                  src="/images/Matching.png"
                                  style="
                                    width: 68%;
                                    border-radius: 50%;
                                    border: 3px solid #40c198;
                                  "
                                  alt="IMG-NA"
                                />
                              </div>
                              <h4
                                class="d-block display-5 my-5 text-center"
                                style="
                                  color: #000000;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 1.2rem;
                                  font-weight: bold;
                                  line-height: 0.4em;
                                  letter-spacing: -0.3px;
                                "
                              >
                                Matching
                              </h4>
                              <p
                                class="d-block font-15 my-4"
                                style="
                                  text-align: center;
                                  color: #4b4d4f;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 0.9rem;
                                  font-weight: 500;
                                  font-style: normal;
                                  line-height: 1.4em;
                                  text-align: center;
                                "
                              >
                                Likeminded people who understands
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-md-4 d-flex justify-content-center"
                      style="cursor: pointer"
                      onclick="window.location.href='/activity'"
                    >
                      <div
                        class="card card-sm p-4"
                        style="
                          background: #fff;
                          box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
                          border-radius: 20px;
                          border-color: #d8ffe9;
                          width: 85%;
                        "
                      >
                        <div class="card-body">
                          <div class="d-flex justify-content-center mb-5">
                            <div>
                              <div style="text-align: center" class="my-3">
                                <img
                                  src="/images/Magazine.png"
                                  style="
                                    width: 68%;
                                    border-radius: 50%;
                                    border: 3px solid #40c198;
                                  "
                                  alt="IMG-NA"
                                />
                              </div>
                              <h4
                                class="d-block display-5 my-5 text-center"
                                style="
                                  color: #000000;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 1.2rem;
                                  font-weight: bold;
                                  line-height: 0.4em;
                                  letter-spacing: -0.3px;
                                "
                              >
                                Magazine
                              </h4>
                              <p
                                class="d-block font-15 my-4"
                                style="
                                  text-align: center;
                                  color: #4b4d4f;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 0.9rem;
                                  font-weight: 500;
                                  font-style: normal;
                                  line-height: 1.4em;
                                  text-align: center;
                                "
                              >
                                Helpful lifestyle news, personal experiences and
                                other useful content.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-md-4 d-flex justify-content-center"
                      style="cursor: pointer"
                      onclick="window.location.href='/chats'"
                    >
                      <div
                        class="card card-sm p-4"
                        style="
                          background: #fff;
                          box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
                          border-radius: 20px;
                          border-color: #d8ffe9;
                          width: 85%;
                        "
                      >
                        <div class="card-body">
                          <div class="d-flex justify-content-center mb-5">
                            <div class="mb-3">
                              <div style="text-align: center" class="my-3">
                                <img
                                  src="/images/Discussion.png"
                                  style="
                                    width: 68%;
                                    border-radius: 50%;
                                    border: 3px solid #40c198;
                                  "
                                  alt="IMG-NA"
                                />
                              </div>
                              <h4
                                class="d-block display-5 my-5 text-center"
                                style="
                                  color: #000000;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 1.2rem;
                                  font-weight: bold;
                                  line-height: 0.4em;
                                  letter-spacing: -0.3px;
                                "
                              >
                                Discussion<br />
                              </h4>
                              <p
                                class="d-block font-15 my-4"
                                style="
                                  text-align: center;
                                  color: #4b4d4f;
                                  font-family: Montserrat, Sans-serif;
                                  font-size: 0.9rem;
                                  font-weight: 500;
                                  font-style: normal;
                                  line-height: 1.4em;
                                  text-align: center;
                                "
                              >
                                Group conversations with our friendly Community.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->

        <!-- Footer -->
        <div class="hk-footer-wrap container">
          <footer class="footer">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <p>
                  © 2021 © 2022
                  <a
                    href="https://Whealthway.com/"
                    class="text-dark"
                    target="_blank"
                    >Whealthway</a
                  >
                </p>
              </div>
            </div>
          </footer>
        </div>
        <!-- /Footer -->
      </div>
      <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>

    <!-- Toggles JavaScript -->
    <script src="/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="/dist/js/toggle-data.js"></script>

    <!-- Counter Animation JavaScript -->
    <script src="/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/vendors/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendors/raphael/raphael.min.js"></script>
    <script src="/vendors/morris.js/morris.min.js"></script>

    <!-- EChartJS JavaScript -->
    <script src="/vendors/echarts/dist/echarts-en.min.js"></script>

    <!-- Vector Maps JavaScript -->
    <script src="/vendors/vectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/dist/js/vectormap-data.js"></script>

    <!-- Owl JavaScript -->
    <script src="/vendors/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Toastr JS -->
    <script src="/vendors/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>
    <script src="/dist/js/dashboard-data.js"></script>
  </body>
</html>
