<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Oops!</title>

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

    <!-- Toastr CSS -->
    <link
      href="/vendors/jquery-toast-plugin/dist/jquery.toast.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/reg.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- HK Wrapper -->
    <div class="hk-wrapper">
      <!-- Main Content -->
      <div class="hk-pg-wrapper hk-auth-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 pa-0">
              <div class="auth-form-wrap pt-xl-0 pt-70">
                <div class="auth-form w-xl-25 w-sm-50 w-100">
                  <a class="auth-brand text-center d-block mb-45" href="#">
                    WHEALTHWAY
                  </a>
                  <form>
                    <h1 class="display-4 mb-10 text-center">
                      We ran into a problem.
                    </h1>
                    <p class="mb-30 text-center">
                      We are sorry, please try again. You can
                      <a href="/"><u>return to homepage</u></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Owl JavaScript -->
    <script src="/vendors/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Toastr JS -->
    <script src="/vendors/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>
    <script src="/dist/js/login-data.js"></script>
  </body>
</html>
