<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .container-fluid {
            background: #1C9850;
            mix-blend-mode: normal;
            opacity: 0.71;
        }

        .theBox {
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
            border-radius: 6px;
            height: 320px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>

<body>


    <!-- HK Wrapper -->
    <div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <!-- <header class="d-flex justify-content-end align-items-center">
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-outline-secondary">Help</a>
                    <a href="#" class="btn btn-outline-secondary">About Us</a>
                </div>
            </header> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="auth-form-wrap pt-xl-0 pt-70">
                            <div class="auth-form w-xl-25 w-sm-50 w-100">
                                <div class="theBox">
                                    <div>
                                        <div style="position: relative;left:10%;top:-30px;background: #f82824;
                                        box-shadow: 0px 7px 10px -5px #F46B68, 0px 4px 4px #F46B68;
                                        border-radius: 3px; width: 80%; height: 25%;">
                                            <div style="padding-top:10px;font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 20px;
                                            line-height: 24px;
                                            height: 60px;
                                            color: #FFFFFF;">
                                            Register Now with Whealthway!
                                            <span class="float-left" style="font-family: Montserrat;
                                            padding-left:18px;
                                            font-style: normal;
                                            font-weight: 300;
                                            font-size: 12px;
                                            line-height: 20px;
                                            /* identical to box height */
                                            
                                            
                                            color: #FFFFFF;
                                            
                                            mix-blend-mode: normal;
                                            opacity: 0.8;">Choose you Login mode!</span>
                                        </div>
                                    </div>
                                    <div style="background: #f82824;
                                        margin-bottom: 10%;
                                    border-radius: 4px;width: 70%;height: 16%;left: 15%;position: relative;">
                                        <div style="font-family: Nunito;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 15px;
                                        line-height: 20px;
                                        text-align: center;
                                        letter-spacing: 1.07143px;
                                        padding-top: 4%;
                                        color: #FFFFFF;">Login in as a Member</div>
                                    </div>
                                    <div style="background: #f82824;
                                        margin-bottom: 10%;
                                    border-radius: 4px;width: 70%;height: 16%;left: 15%;position: relative;">
                                        <div style="font-family: Nunito;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 15px;
                                        line-height: 20px;
                                        text-align: center;
                                        letter-spacing: 1.07143px;
                                        padding-top: 4%;
                                        color: #FFFFFF;">Login in as a Supplier</div>
                                    </div>
                                    <a href="/login-simple"> <div style="background: #f82824;
                                        margin-bottom: 10%;
                                    border-radius: 4px;width: 70%;height: 16%;left: 15%;position: relative;">
                                        <div style="font-family: Nunito;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 15px;
                                        line-height: 20px;
                                        text-align: center;
                                        letter-spacing: 1.07143px;
                                        padding-top: 4%;
                                        color: #FFFFFF;">Login in as a Admin</div>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="dist/js/init.js"></script>
</body>

</html>