<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Whealthway Login</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png">
    
    <!-- Toastr CSS -->
    <link
      href="/vendors/jquery-toast-plugin/dist/jquery.toast.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- HK Wrapper -->
    <div class="hk-wrapper">
      <!-- Main Content -->
      <div class="hk-pg-wrapper hk-auth-wrapper">
        <div class="container-fluid">
          <div class="auth-form-wrap pt-xl-0 pt-70">
            <div class="auth-form w-xl-30 w-lg-55 w-sm-75 w-100">
              <form action="/login" method="POST">
                <h1 class="display-4 mb-10" style="color: #f46b68">
                  Welcome to Whealthway!
                </h1>
                <p class="mb-30">Login to find your health buddy.</p>
                <div class="form-group">
                  <label class="mb-10">EMAIL ADDRESS</label>
                  <input
                    class="form-control"
                    placeholder="Email"
                    name="username"
                    type="email"
                  />
                </div>
                <div class="form-group">
                  <label class="mb-10">PASSWORD</label>
                  <input
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    type="password"
                  />
                </div>

                <p>
                  Do have an account yet? <a href="/register">Sign Up</a>
                  <a class="float-right" href="/forgotPass">Forgot Password?</a>
                </p>
                <br />
                <button
                  class="float-right btn btn-block"
                  style="width: 20%; background-color: #f46b68; color: #fff"
                  type="submit"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Owl JavaScript -->
    <script src="/vendors/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Toastr JS -->
    <script src="/vendors/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>
    <script src="/dist/js/login-data.js"></script>
    <% if (message.length>0 && message == 'fail') { %>
    <script>
      $(document).ready(function () {
        /*Toaster Alert*/
        $.toast({
          heading: "Oops!",
          text: "<p>Invalid Credentials!</p>",
          position: "top-right",
          loaderBg: "#F46B68",
          class: "jq-toast-danger",
          hideAfter: 3500,
          stack: 6,
          showHideTransition: "fade",
        });
      });
    </script>
    <% } %> <% if (message.length>0 && message == 'error') { %>
    <script>
      $(document).ready(function () {
        /*Toaster Alert*/
        $.toast({
          heading: "Oops!",
          text: "<p>Something went wrong, please try again!</p>",
          position: "top-right",
          loaderBg: "#F46B68",
          class: "jq-toast-danger",
          hideAfter: 3500,
          stack: 6,
          showHideTransition: "fade",
        });
      });
    </script>
    <% } %>
  </body>
</html>
