<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login as Member</title>

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

    <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet" type="text/css">
    <style>
        a {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            /* identical to box height, or 186% */
    
            letter-spacing: 0.494118px;
            color: #2BC155;
        }
    </style>
</head>

<body>
    
   
	<!-- HK Wrapper -->
	<div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 pa-0">
                            <div class="fadeOut item auth-cover-img overlay-wrap">
                                <div class="auth-cover-info py-xl-0 pt-100 pb-50" style="background: linear-gradient(135deg, rgba(255, 9, 4, 0.96) 0.59%, rgba(43, 193, 85, 0.8) 100%);
                                mix-blend-mode: normal;
                                opacity: 0.71;">
                                    <div class="auth-cover-content text-center w-xxl-75 w-sm-90 w-xs-100">
                                        <h1 class="display-3 text-white mb-20"><img height="95px" width="400px" src="./images/logo.jpg" alt=""></h1>
                                        <p class="text-white">The Uk’s number 1 site to get support and professional help with health issues. Based in NW of England we started in July 2020 and are founded by a cancer survivor who wanted more help during his recovery.</p>
                                        <br />
                                        <p class="text-white">WHEALTHWAY</p>
                                        <p class="text-grey">MEN’S HEALTH COMMUNITY</p>
                                    </div>
                                </div>
								<div class="bg-overlay bg-trans-dark-50"></div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-xl-7 pa-0">
                        <div class="auth-form-wrap py-xl-0 py-50">
                            <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
                                <form action="/login-simple" method="POST">
                                    <h1 class="display-4 mb-10" style="color: #F46B68;">Welcome to Whealthway!</h1>
                                    <p class="mb-30">Login to find your health buddy.</p>
                                    <div class="form-group">
                                        <label class="mb-10">EMAIL ADDRESS</label>
                                        <input class="form-control" placeholder="Email" name="username" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-10">PASSWORD</label>
                                        <input class="form-control" placeholder="Password" name="password" type="password">
                                    </div>
                                   
                                    <p>Do have an account yet? <a href="/register">Sign Up</a><a class="float-right" href="/forgotPass">Forgot Password?</a></p>
                                    <br />
                                    <button class="float-right btn btn-block" style="width: 20%; background-color: #F46B68; color: #fff;" type="submit">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
	<!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Owl JavaScript -->
    <script src="vendors/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="dist/js/init.js"></script>
    <script src="dist/js/login-data.js"></script>
</body>

</html>