<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Success</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .container-fluid {
            background: #1C9850;
            mix-blend-mode: normal;
            opacity: 0.71;
        }

        .theBox {
            background: #FFFFFF;
            border-radius: 30px;
            height: 350px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>

<body>


    <!-- HK Wrapper -->
    <div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <!-- <header class="d-flex justify-content-end align-items-center">
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-outline-secondary">Help</a>
                    <a href="#" class="btn btn-outline-secondary">About Us</a>
                </div>
            </header> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="auth-form-wrap pt-xl-0 pt-70">
                            <div class="auth-form w-xl-25 w-sm-50 w-100">
                                <div class="theBox">
                                    <div>
                                        <div style="margin-left: 40%;background: #FFFFFF;
                                        border: 6px solid #EFF8E9; border-radius: 50%;
                                        box-sizing: border-box;height:70px; width:70px;">
                                        <img style="width: 70%; margin-top: 15px;" src="./images/tick.png" alt=""></div>
                                    </div>
                                    <div>
                                        <span style="font-family: Roboto;
                                        font-style: normal;
                                        font-weight: bold;
                                        font-size: 34px;
                                        line-height: 45px;
                                        text-align: center;
                                        
                                        color: #595959;"> Success </span>
                                    </div>
                                    <div style="font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 42px;
                                    text-align: center;
                                    
                                    color: #8F8F8F;">Email has been sent!</div>
                                    <a href="/"> <div>
                                        <button style="background: #4CAF50;
                                        box-shadow: 0px 1px 5px rgba(76, 175, 80, 0.12), 0px 3px 1px -2px rgba(76, 175, 80, 0.2), 0px 2px 4px rgba(76, 175, 80, 0.14);
                                        border-radius: 3px; border:0;"> <span class="mx-3" style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 14px;line-height: 28px;
                                        text-align: center;color: #FFFFFF;">
                                         GO BACK TO LOGIN PAGE</span> </button>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>
</body>

</html>