a {
    font-family: Montserrat, Sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    letter-spacing: 0.494118px;
    color: #61CE70;
}